.hero-section {
  margin-bottom: 1em;
}

.hero-container {
  width: 100vw;
  height: 100vh;
}

.hero-image {
  width: 100%;
  height: inherit;
  background-size: auto;
  background-position: 100px 5px;
  background-repeat: no-repeat;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) {
  .hero-section {
    height: 100vh;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
