.description {
  background-color: #fff;
}

.description-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 1em;
  height: 65vh;
  border: 5px solid #000;
}

.description-image {
  align-items: center;
  justify-content: center;
}

.description-image > figure {
  width: 150px;
  height: 150px;
  background-color: #faa72b;
  border: 2px solid #fd2647;
  border-radius: 50%;
  padding: 2em;
  box-shadow: 0 10px 10px -5px #999;
}

.description-image > figure > img {
  width: 100%;
}

.description-text {
  text-align: center;
}

.description-text > p {
  font-size: 1.2em;
  text-transform: capitalize;
  padding: 1em;
}

.description-text > p > mark {
  color: #fff;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(252, 128, 45, 1),
    rgba(253, 38, 71, 1)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin: 0 -0.2em;
  padding: 0.1em 0.4em;
}

.description-text > p > mark > span {
  text-transform: uppercase;
  font-weight: 900;
}

.description-text > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-text > div > a {
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 2em;
  width: 25%;
  padding: 0.625em 1.250em;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) {
  .description-text p {
    font-size: 2em;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .description-text p {
    font-size: 2.5em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
