.description-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.description-image {
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.description-image > figure {
  width: 100px;
  height: 100px;
  background-color: #faa72b;
  border: 2px solid #fd2647;
  border-radius: 50%;
  padding: 1em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.description-image > figure > img {
  width: 100%;
}

.description-text > p {
  font-size: 1.2em;
  text-transform: capitalize;
  padding: 1em;
  text-align: center;
}

.description-text > p > mark {
  color: #fff;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(252, 128, 45, 1),
    rgba(253, 38, 71, 1)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin: 0 -0.2em;
  padding: 0.1em 0.4em;
}

.description-text > p > mark > span {
  text-transform: uppercase;
  font-weight: 900;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) {
  .description-text p {
    font-size: 2em;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .description-text p {
    font-size: 2.5em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
