.title-container {
  text-align: right;
  padding: 0.67em 0;
  background: transparent;
  width: 100%;
}

.title-container h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.title-container h1,
.title-container p {
  margin: 0 0.1em 0 0;
}
